{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TcxAccount list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Pseudonyme</th>
                <th>Email</th>
                <th>Date de création</th>
                <th>Date de dernière modification</th>
                <th>Mot de passe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tcxaccount_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.getFirstName() }}</td>
                <td>{{ entity.getLastName() }}</td>
                <td>{{ entity.getBirthday()| date('d-m-Y') }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.getEmail }}</td>
                <td>{{ entity.getCreationDate()| date('Y-m-d H:i') }}</td>
                <td>{{ entity.getLastModificationDate()| date('Y-m-d H:i') }}</td>
                <td>{{ entity.getPassword() }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tcxaccount_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tcxaccount_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tcxaccount_create') }}">
               S'inscrire
            </a>
        </li>
    </ul>
    {% endblock %}
