{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TcxAccount</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td><img src="{{ entity.tcxAccountAvatar }}"></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ entity.birthday.format('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ entity.creationDate.format('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ entity.lastModificationDate.format('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tcxaccount') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tcxaccount_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
